/* Google manrope Font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.font-manrope {
    font-family: "Manrope", sans-serif;
}


.tia-bg-color {
    background-color: #ABEF5F;
}

/* header related styles */
header {
    background: linear-gradient(0.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}


/* nav related styles */
.navbar {
    max-width: 90%;
    margin: 0 auto;
}

.nav-home {
    font-weight: 800;
}

/* main related style */

/* discuss input section */
#discuss-section {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}